/* fonts from google */
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:700&display=swap');

.default, .rounded, .card {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border: 1px solid #f4f1f1;
    border-radius: 8px;
}
.default, .card, .card__info {
    display: flex;
}
.rounded {
    text-align: center;
    margin: 20px auto;
}
.card {
    flex-direction: column;
    margin-top: 20px;
}
.rounded__image img, .card__infoimg img {
    width: 80px;
    border-radius: 100%;
    margin: 13px;
}
.card__infoimg img {
    margin: 13px 13px 13px 0px;
}
.default__image {
    width: 50%;
}
.default__image img {
    width: 100%;
    border-radius: 8px 0px 0px 8px;
}
.default__content {
    width: 50%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rounded__content, .card__comment, .card__info {
    padding: 0 50px;
}
.default__content div {
    padding: 50px;
}
.content__comment {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size:14px;
    margin-top: 0;
}
.content__username {
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}
.content__userjob {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:#C1C1C1;
    margin: 0;
}
.content__signature {
    width: 50px;
}

@media (max-width: 667px) { 
    .default {
        display: block;
    }
    .default__image {
        width: 100%;
    }
    .default__image img {
        border-radius: 8px 8px 0px 0px;
    }
    .default__content {
        width: 100%;
    }
    .rounded {
        display: flex;
    }
    .rounded__content {
        text-align: left;
        padding: 20px;
    }
    .card__info {
        order: 2;
        flex-direction: column;
        align-items: center;
    }
    .card__infoimg img {
        margin: 0;
    }
    .info {
        text-align: center;
    }
    .card__comment {
        background: #fafafa;
        padding: 20px;
        position: relative;
        margin-bottom: 23px;
    }
    .card__comment::after {
        content: "";
        position: relative;
        bottom: -49px;
        left: 48%;
        border-width: 13px 13px 0;
        border-style: solid;
        border-color: #fafafa transparent transparent;
    }
}
